#navbar{
    background-color: rgba(194, 194, 194,0.4);
}
#navbar ul li a{
    color: white;
}
#nav{
    margin: 20px;
}
img.cangiua{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
}
.text-center h2 b hr{
    height: .375rem;
    width: 6.125rem;
    border-radius: .1875rem;
    background-color: #59d9ca;

}
#text1{
    line-height: 2;
}
.row .text-center .row #text2{
    line-height: 2;
    text-align: justify;
    padding: 15px ;
    margin-bottom: 78px;

}
#text3 h5{
    margin: 25px 0px;

}
#text3 p{
    line-height: 2;
    color: #858585;
}
#apvn{
    background: url(img/vietnam-bg.png) 50% no-repeat;
    background-size: contain;
}
#apjapan{
    background: url(img/japan-bg.png) 50% no-repeat;
    background-size: contain;
}
.btn-apply{
    color: #4ec5b6;
    border-radius: 3.125rem;
    border: solid #4ec5b6;
    padding: 1.5rem;
}
.text-lg{
    font-size: 1.5625rem;
}
.btn-apply:hover{
    color: white;
    background: cadetblue;
    border-radius: 3.125rem;
    border: solid #4ec5b6;
    padding: 1.5rem;
    text-decoration: none;
}
#brackgroud5{
    background-image: url(img/SectionBackground-1.png);
    background-repeat: no-repeat;
    margin-top: 149px;
}
#form{
    border: .125rem solid #fff;
    border-radius: 1.5625rem;
    color: white;
    background-color: transparent;
    margin: 10px;
    padding: 0.6rem;
}
.button .btn-submit{
    color: #5da5d0;
    background: #fff;
    height: 3.125rem;
    font-size: 1.125rem;
    border-radius: 1.5625rem;
    padding: 0 3.125rem;
    margin-bottom: 25px;
}
#backgroud6{
    background: #060a1c;
    width: 100%;
}
.col-md-9 a{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}