*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: rgba(194, 194, 194,0.4);
}
#navbar ul li a{
    color: white;
    list-style-type: none;
    display: block;
}
#nav{
    margin: 20px;
}
#row nav{
    background-color: #f4f4f4;
}
#background1{
    background: #060a1c;
    width: 100%;
}
.row ul{
    list-style-type: none;
}
.col-md-9 a{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}