*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    background-color: rgba(194, 194, 194,0.4);
}
#navbar ul li a{
    color: white;
    list-style-type: none;
    display: block;
}
#nav{
    margin: 20px;
}
#background1{
    background-image: url(img/BackgroundTechgology.png);
    background-repeat: no-repeat;
}
#row{
    text-align: center;
    margin-top: 211px;
    padding-top: 200px;
}
#hero{
    position: relative;
    left: 0px;
    top: 0px;
}
#column{
    position: absolute;
    top:-210px;
    left: 85px;

}
