*{
    margin-left: 0px;
}
#navbar{
    background-color: rgba(194, 194, 194,0.4);
}
#navbar ul li a{
    color: white;
}
#text1{
    margin-top: 339px;
    margin-left: 50px;
    color: white;
}
#text2{
    font-size: 19px;
    margin-bottom: 0px;
    
}
#img1{
    text-align: right;
    margin-top: 129px;
}
#navlogo{
    margin:auto 50px;
}
#nav{
    margin: 20px;
}
#textbl{
    margin-top:200px ;
}
#brackgroud1{
    background-image: url(img/HeroBrackgroud.png);
    background-repeat: no-repeat;
}
#brackgroud2{
  margin-top: 200px;
}
#brackgroud3{
    background-image: url(img/SectionBackground.png);
    background-size: cover;
    width: 101%;
}
#brackgroud5{
    background-image: url(img/SectionBackground-1.png);
    background-repeat: no-repeat;
    width: 101%;
}
#backgroud6{
    background: black;
}
#row{
    margin-top: 100px;
}
#tech1{
    text-align: center;
}
#icon{
    text-align: center;
    margin-top: 150px;
}
#form{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius:25px ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    background: transparent;
    margin: 30px;
    
}
