*{
    margin: 0px;
}
#navbar{
    background-color: rgba(194, 194, 194,0.4);
}
#navbar ul li a{
    color: white;
}
#text1{
    margin-top: 339px;
    margin-left: 50px;
    color: white;
}
#text2{
    font-size: 19px;
    margin-bottom: 0px;
    
}
#img1{
    text-align: right;
    margin-top: 129px;
}
#navlogo{
    margin:auto 50px;
}
#nav{
    margin: 20px;
}
#textbl{
    margin-top:200px ;
}
#brackgroud1{
    background-image: url(img/HeroBrackgroud.png);
    background-repeat: no-repeat;
}
#brackgroud2{
  margin-top: 200px;
}
#brackgroud3{
    background-image: url(img/SectionBackground.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
#brackgroud5{
    background-image: url(img/SectionBackground-1.png);
    background-repeat: no-repeat;
    width: 101%;
    margin-top: 247px;
}
#backgroud6{
    background: #060a1c;
    width: 100%;
}
#row{
    margin-top: 230px;
    padding-top: 200px;
}
#tech1{
    text-align: center;
}
#tech2  hr{
    
    height: .1875rem;
    border-radius: .1875rem;
    background-image: linear-gradient(9deg,#0e3672,#1a83a0 35%,#26d0ce);
}
#icon{
    text-align: center;
    margin-top: 150px;
}
#form{
    border: .125rem solid #fff;
    border-radius: 1.5625rem;
    color: white;
    background-color: transparent;
    margin: 10px;
    padding: 0.6rem;
    
}
.button .btn-submit{
    color: #5da5d0;
    background: #fff;
    height: 3.125rem;
    font-size: 1.125rem;
    border-radius: 1.5625rem;
    padding: 0 3.125rem;
    margin-bottom: 25px;
}
.col-md-9 a{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
.row ul{
    list-style-type: none;
}
.bp-well__decor-1{
    position: absolute;
    left: 0;
    max-width: 90%;
}
.image{
    position: absolute;
    left: 30%;

}
